## Android
/*/build/
com_crashlytics_export_strings.xml
local.properties
bin/
gen/
out/
proguard/
captures/
.externalNativeBuild/
.idea/
.signing/
.navigation/
*.apk
*.ap_
*.dex
*.class
*.iml
*.jks
*.o
*.so

## FireBase
app/google-services.json

## VSCode
.vscode/
.project

## Gradle
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar

## NPM
node_modules/

## Blueline database
app/src/main/assets/databases/blueline.db.gz