* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	box-sizing: border-box;
	text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0.05);
	color: black;
	font: 14px sans-serif;
	line-height: 1.3;
	text-rendering: optimizeLegibility;
	&.flush {
		padding: 0;
		#container {
			padding: 0;
		}
	}
}

#container {
	position: relative;
	padding: 12px;
}
.custom, .prove, .discover {
	#container {
		max-width: 500px;
		margin: 0 auto;
	}
}

hr {
	clear: both;
	border: 0;
	background: 0;
}

@import "accordion.less";
@import "forms.less";
@import "typography.less";

@import "custom.less";
@import "grids.less";
@import "practice.less";
