* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	color: black;
	font: 14px sans-serif;
	padding: 16px;
	perspective: 1000px;
}

::placeholder {
	color: #999;
}
.placeholder {
	color: #999;
}


#container {
	position: relative;
	width: 300px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #29404C;
	border-bottom: 1px solid #A1C4D0;
	&.external {
		padding-right: 13px;
		background: transparent url(external.svg) no-repeat center right;
	}
}

h3 {
	font-size: 16px;
	font-weight: normal;
	color: #002856;
	margin: 20px 0 15px 0;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
	&:first-child {
		margin-top: 0;
	}
}
h4 {
	font-size: 14px;
	font-weight: normal;
	color: #002856;
	margin: 10px 0 5px 20px;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
}

p, blockquote {
	text-align: justify;
	hyphens: auto;
	margin-bottom: 8px;
	&:last-child {
		margin-bottom: 0;
	}
}
blockquote {
	margin-left: 16px;
}
.monospace {
	font-family: monospace;
	white-space: pre;
}

hr {
	clear: both;
	border: 0;
	background: 0;
}

canvas, img {
	display: inline-block;
}


// Selection list
ol.selector {
	list-style: none;
	li {
		display: block;
		font-size: 14px;
		height: 32px;
		line-height: 32px;
		padding: 0 10px;
		box-sizing: border-box;
		border-bottom: 1px solid #DDD;
	}
}


// Submit/Prove/Clear button
input[type="submit"], input[type="reset"] {
	display: block;
	border-radius: 2px;
	float: right;
	border: 0;
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	transition: background-color 0.5s ease, color 0.5s ease;
	box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
input[type="submit"] {
	background-color: #002856;
	margin: 20px 10px 0 0;
	color: white;
	&:disabled {
		background-color: #DDD;
		color: #AAA;
	}
}
input[type="reset"] {
	background-color: #DDD;
	margin: 20px 20px 0 0;
	color: black;
}


// Inputs
textarea {
	display: block;
	font-family: monospace;
	border-radius: 2px;
	background-color: #F3F3F3;
	border: 0;
	margin: 20px 10px 0;
	padding: 5px;
	box-sizing: border-box;
	width: 280px;
	box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

input[type="text"], .textInput {
	display: block;
	border-radius: 2px;
	background-color: #F3F3F3;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 0 10px;
	line-height: 32px;
	border: 0;
	&:focus {
		border: 0;
		box-shadow: 0 0 2px #002856;
	}
}


// Flipping selectors
.flipSelector {
	display: block;
	position: relative;
	margin: 0 10px;
	width: 280px;
	height: 32px;
	transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transform-style: preserve-3d;
	transform-origin: 50% 50%;
	&[data-direction="top"].is-open {
		transform: rotateX(180deg);
	}
	.front {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		background-color: #F3F3F3;
		backface-visibility: hidden;
		transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
		box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	}
	.back {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #F3F3F3;
		color: #222;
		transform: translateZ(-1px) rotateX(180deg);
		overflow-x: hidden;
		overflow-y: scroll;
		backface-visibility: hidden;
		transition: box-shadow 0.8s ease;
	}
	&.is-open .back {
		box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
	}
}
	#stage-container.is-open {
		height: 120px;
	}
	#syntax-container.is-open {
		height: 64px;
	}

// Specific code for custom.html
#notation-container {
	box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}
#notation-parsed {
	margin: 5px 0 0 20px;
}
